header {
   background-color: var(--background-alt);
   display: flex;
   gap: var(--spacing);
   align-items: center;
   justify-content: end;
   font-size: var(--text-sm);
   border: 1px solid var(--border-color-alt);
   border-radius: var(--box-rounding);
   box-shadow: var(--box-shadow);
   margin: var(--spacing);
   height: calc(var(--text-md) + var(--spacing));
}

header a {
   color: var(--success-color);
   transition: color 0.5s;
   padding: var(--spacing-less);
   margin-right: var(--spacing);
}

header a:hover {
   color: var(--hover-color);
   font-size: var(--text-md);
   transition:
      color 0.8s,
      font-size 0.8s;
}

@media screen and (max-width: 660px) {
   header {
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
   }
}
