.app {
   min-width: 300px;
   max-width: 1200px;
   margin: auto;
}

.cards {
   display: flex;
   flex-direction: column;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: var(--spacing);
   margin: var(--spacing);
   font-size: calc(10px + 2vmin);
}

.container .profile-picture {
   pointer-events: none;
}

.container .profile-text {
   max-height: 309px;
   min-height: 309px;
}

@media (max-width: 660px) {
   .container {
      flex-direction: column;
   }

   .container .profile-picture {
      width: 100%;
   }

   .container .profile-text {
      max-width: fit-content;
      max-height: fit-content;
      align-items: center;
      text-align: center;
   }
}
